@import url(//db.onlinewebfonts.com/c/759e42493abf31461c97e9b66850830d?family=LoadingDockNFW00-Regular);

*{
    margin: 0;
    padding: 0;
    font-family: "LoadingDockNFW00-Regular";
}

body{
    display: flex;
    min-height: 100vh;
    background: #000;
    align-items: center;
    justify-content: center;
}

.loader{
    display: flex;
    align-items: flex-end;
    transform: translateY(-35px);

}

.loader span{
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0 10px;
    background: #111;
    align-items: flex-end;
    justify-content: center;
    height: calc(20px * var(--i));
    animation: animate 2s linear infinite;
    animation-delay: calc(0.25s * var(--i));
}

@keyframes animate{
    0%{
        filter: blur(2px);
        background: #fff;
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;

    }
    25%,75%{
        box-shadow: none;
        filter: blur(0px);
        background: #111;

    }
    100%{
        filter: blur(2px);
        background: #fff;
        box-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;

    }
    
}

.loader span i{
    color: #fff;
    display: block;
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    transform: translateY(70px);
    animation: animate-two 2s linear infinite;
    animation-delay: calc(0.25s * var(--i));
}


@keyframes animate-two{
    0%{
        color: #fff;
        filter: blur(2px);
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;

    }
    25%,75%{
        color: #111;
        text-shadow: none;
        filter: blur(0px);

    }
    100%{
        filter: blur(2px);
        color: #fff;
        text-shadow: 0 0 10px #00b3ff,
                    0 0 20px #00b3ff,
                    0 0 40px #00b3ff,
                    0 0 80px #00b3ff,
                    0 0 120px #00b3ff,
                    0 0 200px #00b3ff,
                    0 0 300px #00b3ff,
                    0 0 400px #00b3ff;

    }